<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Comic</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
  <div class="center_text">
    Welcome to<br>
    <img src="../static/comic_header.png" width="80%"><br>
  </div>
  <div class="box">
      <div>
        New here?
        <img src="../static/comic_header.png" width="10%">
        Start reading!
      </div>
  </div>
  <div class="box">
    <div>
      <p class="description">Archive</p>
      <img src="../static/comic_header.png" width="10%">
      <p class="description">Archive</p>
    </div>
  </div>
  <div class="box">
    <div>
      Caught up?
      <img src="../static/comic_header.png" width="10%">
      Here's the latest page!
    </div>
  </div>
</body>
</html>
